body {
    background-color: #E9ECEF;
}

.nav {
    background-color: rgb(46, 46, 53);
    padding: 5px 0px;
}

.nav a {
    text-decoration: none;
    margin: 10px;
}

.nav a.n1 {
    font-weight: bold;
    color: rgb(111, 46, 58);
}

.nav a.n2 {
    color: #E9ECEF;
}

.nav a.n3 {
    color: darkgrey;
}

.nav a.n3:hover {
    color: #E9ECEF;
}

img {
    height: 300px;
}